@include font-face("Neuton", $dir-font + "neuton-regular") {
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@include font-face("Neuton", $dir-font + "neuton-bold") {
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@include font-face("Neuton", $dir-font + "neuton-italic") {
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}
