html {
  background-color: var(--color-background);
  box-shadow: inset 0 0 0 1rem var(--color-white);
  padding: 2rem;
}

body {
  display: grid;
  grid-auto-rows: max-content auto max-content;
  margin: 0 auto;
  max-width: 60ch;
}

main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

