html {
  font-size: 100%;
}

body {
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

a {
  color: var(--color-link);
  text-decoration-color: var(--color-link-underline);
  transition-duration: var(--transition-duration-base);
  transition-property: text-decoration-color, color;
  transition-timing-function: var(--transition-timing-base);

  &:hover {
    color: var(--color-link-hover);
    text-decoration-color: var(--color-link-hover);
  }
}

h1 {
  margin: 0;
}

h2 {
  font-size: var(--font-size-small);
}

small {
  display: block;
  font-style: italic;
}

[role="doc-subtitle"] {
  font-size: clamp(var(--font-size-base), 2.5vw, var(--font-size-large));
  margin-top: 0;

  span {
    color: var(--color-light-blue);
    font-size: 75%;
    vertical-align: text-top;
  }
}
