<footer>
  <h2>Get in touch</h2>
  <ul>
    <li>
      e.grzymkowski@gmail.com
    </li>
    <li>
      <a href="https://www.linkedin.com/in/eric-grzymkowski-3939a04/">LinkedIn</a>
    </li>
  </ul>
</footer>
