{% for section in works.work %}
<section>
  <h2>{{ section.hed }}</h2>
  <ul>
    {% for item in section.items %}
    <li>
      <a href="">{{ item.title }}</a>
      <small>{% if item.note %}{{ item.note }}{% endif %}</small>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
