<section>
  <h2>Books</h2>
  <ul>
    <li>
      <a href="">Book</a>
    </li>
  </ul>
</section>

<section>
  <h2>Other writing</h2>
  <ul>
    <li>
      <a href="">Writing</a>
    </li>
  </ul>
</section>
