<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/app.css" as="style">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
