---
layout: layouts/base.njk
---

{% set tags = collections | keys | except %}

{%- for tag in tags -%}
<section>
  <h2>{{ tag | capitalize }}</h2>
  <ul>
    {%- for item in collections[tag] -%}
    <li>
      <a href="">{{ item.data.title }}</a>
      {% if item.data.note %}<small>{{ item.data.note }}</small>{% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
