---
layout: layouts/base.njk
title: Testing
---

<main>
  <header>
    <h1>Eric Grzymkowski</h1>
    <p role="doc-subtitle">Eric Grzymkowski [grim-KOW-skee] is a writer, editor, coffee table book author, and digital strategist. He spends his days as the Marketing Manager at <a href="https://www.oho.com/">Oho Interactive</a>. He enjoys working with <span>good people</span> on <span>good projects</span> at <span>good companies</span>.</p>
  </header>

  <section>
    <h2>Books</h2>
    <ul>
      <li>
        <a href="">Book</a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Other writing</h2>
    <ul>
      <li>
        <a href="">Writing</a>
      </li>
    </ul>
  </section>
</main>

<footer>
  <h2>Get in touch</h2>
  <ul>
    <li>
      Email
    </li>
    <li>
      <a href="">LinkedIn</a>
    </li>
  </ul>
</footer>
